{% for key, val in hostvars.iteritems() %}
{# key is the device address#}

On Router {{key}}:
------------------------
All Differences report
------------------------

{% for item in val['OSPF']%}
{% if item not in val['ISIS'] %}
 - route to preifx {{item['prefix']}} is not identical between OSPF and ISIS
{%endif %}
{% endfor%}
{% for item2 in Unique_OSPF%}
 - route to preifx {{item2['prefix']}} is uniqe to OSPF table
{% endfor%}
{% if Unique_ISIS is sequence %}
{% for item3 in Unique_ISIS%}
 - route to preifx {{item3['prefix']}} is uniqe in ISIS table
{% endfor%}
{% endif %}


different metric Report 
-------------------------
{% for item in val['OSPF_MET']%}
{% if item not in val['ISIS_MET'] %}
 - route to preifx {{item['prefix']}} ---> different metric
{%endif %}
{% endfor%}


Different egree report
-------------------------
{% for item in val['OSPF_VIA']%}
{% if item not in val['ISIS_VIA'] %}
 - route to preifx {{item['prefix']}} ---> using different path
{%endif %}
{% endfor%}

============================================================================
============================================================================
============================================================================

{% endfor%}





